<?xml version="1.0" encoding="UTF-8"?>
<hibernate-configuration>
<session-factory>

<property name="hibernate.connection.Driver_class">com.mysql.cj.jdbc.Driver</property>
<property name="hibernate.connection.url"> jdbc:mysql://localhost:3306/Bankapplication</property>
<property name="hibernate.connection.user">root</property>
<property name="hibernate.connection.password">Varalaxmi@06</property>
<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
<property name="hibernate.show_sql">true</property>
<property name="hibernate.hbm2ddl.auto">update</property>
<mapping class="com.hibernate.entity.Bank"/>
<mapping class="com.hibernate.entity.Branches"/>
<mapping class="com.hibernate.entity.Account_Holder"/> 
<mapping class="com.hibernate.entity.AccountInfo"/>
<mapping class="com.hibernate.entity.Transactions"/>
<mapping class="com.hibernate.entity.Employee"/>
<mapping class="com.hibernate.entity.Loan"/>

</session-factory>
</hibernate-configuration>
